@import "./mixin.scss";
@import "./variables.scss";
@import "./Components/header.scss";
@import "./Pages/Homepage.scss";
@import "./Components/cardcountry.scss";
@import "./Components/modal.scss";
@import "./Pages/Countrydetail.scss";

img {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-inline: 15px;
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    padding-inline: 50px;
  }
}

@media screen and (min-width: 1920px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}

// DARK MODE

.dark-background {
  background-color: $very-dark-blue-bg;
}

.dark-element-bg {
  background-color: $dark-blue;
}

.input-dark {
  color: $white;

  &::placeholder {
    color: $white;
  }
}
