@import "./mixin.scss";
@import "./variables.scss";
@import "./header.scss";

img {
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-inline: 40px;
}
