.container-cardcountry {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  width: 300px;
  max-height: 350px;

  .cardcoutry-image {
    border-radius: 5px 5px 0 0;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .cardcountry-desc {
    @include flexRow;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      @include textSemiBold($very-dark-blue, 15px);
      margin-right: 5px;
      @include overflowText();
    }

    .desc {
      @include textLight($very-dark-blue, 15px);
      @include overflowText();
    }
  }

  .cardcountry-bottom {
    padding: 20px;
  }

  .cardcoutry-name {
    @include textExtraBold($very-dark-blue, 18px);
    margin-bottom: 10px;
    @include overflowText();
  }

  .cardcountry-top {
    max-height: 50%;
    height: 100%;
  }
}
