.container-cardcountry {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 300px;

  .cardcoutry-image {
    border-radius: 5px 5px 0 0;
  }

  .cardcountry-desc {
    @include flexRow;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      @include textSemiBold($very-dark-blue, 15px);
      margin-right: 5px;
    }

    .desc {
      @include textLight($very-dark-blue, 15px);
    }
  }

  .cardcoutry-image {
    max-width: 100%;
  }

  .cardcountry-bottom {
    padding: 20px;
  }

  .cardcoutry-name {
    @include textExtraBold($very-dark-blue, 18px);
    margin-bottom: 10px;
  }
}
